*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;

}

a{
	display: flex;
	text-decoration: none;
	justify-content: center;
	padding-top: 20px;
	color: black;
}

h2{
	text-align: center;
	margin-bottom: 1em;
}


.button:hover {
	box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 9px 15px 0 rgba(0,0,0,0.19);
	
}

.button {
	padding: 10px;
	background-color: white; 
	border-radius: 0.8em; 
	-webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
    color: black;
    border: 1px solid gray;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}

.form_button {
	display: flex;
	justify-content: space-around;
	padding-top: 15px;
	align-self: center;

}

.container {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

input {
	border-bottom: 1px solid gray;
	border-top: none;
	border-left: none;
	border-right: none;
	outline: none;
    margin-left: 10px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    font-size: 16px;
	font-family: 'Montserrat', sans-serif;

}

input:hover {
	border-bottom: 1px solid red;

}

input:focus {
	border-bottom: 1px solid red;

}

.form {
	flex-basis: 70vh;
	padding: 2em;
	background: #fff;
	box-shadow: 0 0 2em rgba(0,0,0,0.2);
	border-radius: 0.8em;
}

/*.profile_form {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	flex-basis: 70vh;
	padding: 2em;
	background: #fff;
	box-shadow: 0 0 2em rgba(0,0,0,0.2);
	border-radius: 0.8em;
}
*/
.profile_block {
	display: flex;
	align-items: center;
}

.block {
	padding: 1em;
	display: flex;
	justify-content: space-between;
	
}

@media screen and (max-width: 600px) {
  .block {
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	}

	label {
		padding: 1em;
	}
	input::-webkit-input-placeholder {
		text-align:center;
	}
}

input::-webkit-input-placeholder {
	font-size: 16px;
	opacity: 0.7;

}
select {
  font-family: 'Montserrat', sans-serif;
}


/*placeholder
height form
space between profile info
*/
